@font-face {
  src: url('~assets/fonts/Roboto-Bold.ttf');
  font-family: 'Roboto-Bold';
}

@font-face {
  src: url('~assets/fonts/Roboto-Regular.ttf');
  font-family: 'Roboto-Regular';
}

@font-face {
  src: url('~assets/fonts/Roboto-Light.ttf');
  font-family: 'Roboto-Light';
}

@font-face {
  src: url('~assets/fonts/PTSerif-Bold.ttf');
  font-family: 'PTSerif-Bold';
}