@import 'fonts';

// шрифты
$bold: 'Roboto-Medium';
$regular: 'Roboto-Regular';
$numeric: 'Lora-SemiBold';
$header: 'Lora-Regular';

// цвета
$brown: rgb(75, 25, 25);
$grey: rgb(25, 25, 25);
$light-blue: rgb(30, 165, 255);
