@import 'fonts';

// шрифты
$bold: 'Roboto-Bold';
$regular: 'Roboto-Regular';
$light: 'Roboto-Light';
$numeric: 'Lora-SemiBold';
$light-header: 'Lora-Regular';

// цвета
$brown: rgb(75, 25, 25);
$dark-blue: rgb(0, 0, 35);
$light-blue: rgb(30, 165, 255);
