@import '~assets/variables';

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: $regular;
  color: $grey;
}

main {
  padding: 2rem;
}

.page-enter, .page-leave-to {
  opacity: 0;
}

.page-enter-active, .page-leave-active {
  transition: .25s;
}
